@font-face {
	font-family: 'larisa_script';
	src: url('fonts/larisa_script.eot');
	src: local('☺'), url('fonts/larisa_script.woff') format('woff'), url('fonts/larisa_script.ttf') format('truetype'), url('fonts/larisa_script.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
div{
    width: 50%;
    margin: auto;
}
header{
    text-align: right;
}
h1{
    font-size: 16px;
}
h3{
    font-family: 'larisa_script';
    text-indent: 1.5em;
    font-size: x-large;
    text-decoration-line: underline;

}
article{
    font-family: 'larisa_script';
    text-indent: 1.5em;
    font-size: large;
}
footer{
    font-weight: bold;
}